<div class="w-full flex-col flex items-start justify-start">
    <span class="w-full flex justify-between items-center p-3">
        <span>
            <h1 mat-dialog-header>Activity</h1>
        </span>
        <span>
            <mat-icon class="cursor-pointer" (click)="close()">clear</mat-icon>
        </span>
    </span>
    <span class="p-3 w-full">
        <form [formGroup]="activityFg">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Activity Name</mat-label>
                <input type="text" formControlName="activityName" matInput>
                <mat-error *ngIf="activityFg.controls['activityName'].touched && activityFg.controls['activityName'].hasError('required')">
                    <strong>This is a required field</strong>
                </mat-error>
            </mat-form-field>
        </form>
    </span>
    
    <mat-dialog-actions>
        <div>
            <button mat-raised-button (click)="close()">Cancel</button>
            <button mat-raised-button *ngIf="!data?.activity" [disabled]="!activityFg.valid" color="primary" (click)="createActivity()">Create</button>
            <button mat-raised-button *ngIf="data?.activity" [disabled]="!activityFg.valid" color="primary" (click)="updateActivity()">Update</button>
        </div>
    </mat-dialog-actions>
</div>