<div class="h-screen overflow-y-hidden">
    <div class="h-2/3  flex items-center ">
        <div class="w-full  flex justify-center gap-20 ">
            <div routerLink="/activity" class="flex justify-around cursor-pointer border items-center p-3 rounded shadow-md hover:shadow-xl md:w-2/12 w-5/12 ">
                <span>
                    <img style="height: 20px;" src="assets/images/create.png" alt="">
                </span>
                <span>
                    <p class="text-sm" ><strong>View Task</strong></p>
                </span>
            </div>
            <div class="flex justify-around border cursor-pointer items-center p-3 rounded shadow-md hover:shadow-xl  md:w-2/12 w-5/12">
                <span>
                    <img style="height: 30px;" src="assets/images/complete.png" alt="">
                </span>
                <span>
                    <p class="text-sm"><strong>Completed Task</strong></p>
                </span>
            </div>
        </div>
    </div>
</div>