<div  class="h-screen flex items-center justify-center">
    <div class="w-6/12 flex justify-center ">
        <span class="w-full flex justify-center ">
            <img class="w-6/12 " src="assets/images/main-banner.png" alt="">
        </span>
    </div>
    <div class="w-6/12  flex justify-center">
        <span class="flex-col flex justify-center items-center">
            <h1 class="text-center">You don't seem to have an available Activity</h1>
            <button class="text-center" mat-raised-button color="primary" >Add Activity</button>
        </span>
    </div>
</div>